  <!-- Footer -->
<div style="position:relative;height:60px;">
  <footer class="bg-dark">
    <div class="row" style="margin:0 !important;">
      <div class="col-md-3">
        <p class="m-0 text-center text-white f-32">Copyright &copy; 2020. TECHIEVIBE.INFO</p>
      </div>
      <div class="col-md-6">
        <div class="text-white">
          <!--Facebook-->
          <button type="button" class="btn btn-fb text-white"><i class="fa fa-facebook"></i></button>
          <!--Twitter-->
          <button type="button" class="btn btn-tw text-white"><i class="fa fa-twitter"></i></button>
          <!--Google +-->
          <button type="button" class="btn btn-gplus text-white"><i class="fa fa-google-plus"></i></button>
          <!--Linkedin-->
          <button type="button" class="btn btn-li text-white"><i class="fa fa-linkedin"></i></button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="text-white">
          <p>Developed by <a href="mailto:phanideep4blogging@gmail.com">@Phani Narra</a></p>
        </div>
      </div>
    </div>
</footer>
</div>