<div class="col-auto mb-3">
    <a href='/blog' style='color:inherit;'>
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <div class="overlay-box" style="background-image: url('../../assets/Images/dashboard-bg-blog.jpg');background-position:center">
                    <div class="desc">
                        <h4 class="card-title text-center">Blog</h4><br>
                        <h6 class="card-subtitle text-muted text-center">
                            Looking for some technical help?<br><br>
                            Looking for some beauty tips?<br><br>
                            Feeling low? Want to feel more confident?
                        </h6><br><br>
                        <h4 class="card-title text-center">Click to start reading</h4>
                    </div>
                  </div>
            </div>
        </div>
    </a>
</div>
<div class="col-auto mb-3">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <div class="overlay-box" style="background-image: url('../../assets/Images/dashboard-bg-fantasysport.jpg');background-position:center">
                    <div class="desc">
                        <h4 class="card-title text-center">Cricket Fantasy</h4><br>
                        <h6 class="card-subtitle text-muted text-center">
                            Want to have some fun playing fantasy?<br><br>
                            Want to win some exciting prizes?<br><br>
                            Feeling lucky? want to test your luck out?
                        </h6><br><br>
                        <h4 class="card-title text-center">Coming soon...<!--Click to start playing --></h4>
                    </div>
                  </div>
            </div>
        </div>
</div>
<div class="col-auto mb-3">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <div class="overlay-box" style="background-image: url('../../assets/Images/dashboard-bg-puzzles.jpg');background-position:center">
                    <div class="desc">
                        <h4 class="card-title text-center">Puzzles & Problems</h4><br>
                        <h6 class="card-subtitle text-muted text-center">
                            Interested in giving your brain some challenge?<br><br>
                            Do you love solving puzzles or math/science problems?<br><br>
                            Feeling bored? But want to spend time on something useful?
                        </h6><br><br>
                        <h4 class="card-title text-center">Coming soon...<!--Click to start solving--></h4>
                    </div>
                  </div>
            </div>
        </div>
</div>
<div class="col-auto mb-3">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <div class="overlay-box" style="background-image: url('../../assets/Images/dashboard-bg-morecoming.jpg');background-position:center">
                    <div class="desc">
                        <h4 class="card-title text-center">Looking for more?</h4><br><br><br>
                        <h4 class="card-title text-center">Check back often, we have more coming...</h4>
                    </div>
                  </div>
            </div>
        </div>
</div>