<div class="container g-pb-20">
    <div class="row justify-content-between">
      <div class="col-lg-9 g-mb-80 shadow-lg p-3 mb-5 bg-white rounded">
        <div class="g-pr-20--lg">
          <h2 class="my-4 mb-20">{{post.postTitle}}</h2>
          <div class=row>
            <div class="col-md-4 col-xs-4 col-sm-4">
              <small class="text-muted">Category: {{post.postCategory.categoryName}}</small>
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4">
              <small class="text-muted">Time: {{post.postReadingTime}} minutes</small>
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4">
              <small class="text-muted">Date: {{post.postDate}}</small>
            </div>
          </div>
          <div class="row padding-top-bottom-default">
            <div class="col-md-12" id="blogPostBody" [innerHTML]="post.postBody">

            </div>
          </div>
          <div class=row>
            <div class="col-md-4 col-xs-4 col-sm-4">
              <small class="text-muted">Author: {{post.postAuthor}}</small>
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4">
              <small class="text-muted">Likes: {{post.postLikeCount}}</small>
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4">
              <small class="text-muted">Comments: {{post.postCommentCount}}</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 g-brd-left--lg g-brd-gray-light-v4 g-mb-80">
        <div class="g-pl-20--lg">
          
        </div>
      </div>
    </div>
</div>
<div class="container g-pb-20 g-pt-10">
  <div class="row justify-content-between">
    <div class="col-lg-9 g-mb-20 shadow-lg p-3 mb-5 bg-white rounded">
      <div id="comments">
        <!-- <div class="fb-comments" data-href="https://www.techievibe.info" data-numposts="10" data-width=""></div> -->
        <div id="wpac-comment"></div>
      </div>
    </div>
  </div>
</div>