<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Techievibe.Api.dll" stdoutLogEnabled="true" stdoutLogFile=".\aaa-site-api\logs\stdout" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 4aeb3942-5eca-444e-93b8-503d9ee6df6e-->